<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">JustGetIt</a>
    </nav>
    <div class="container text-center">
        <h1>LOADING PLAN</h1>
    </div>
    <div class="container">

        <a class="btn btn-primary btn-lg btn-block" href="orderdetails" role="button">ORDER DETAILS</a>
        <a class="btn btn-primary btn-lg btn-block" href="availablecapacity" role="button">AVAILABLE CAPACITY</a>
        <a class="btn btn-primary btn-lg btn-block" href="capreqd" role="button">CAPACITY REQUIRED</a>
        <a class="btn btn-primary btn-lg btn-block" href="material" role="button">MATERIAL IN HOUSE</a>
        <a class="btn btn-primary btn-lg btn-block" href="exp" role="button">LOADING SUGGESTION</a>

    </div>
    
    
</body>
</html>


