<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Order Details2 Table</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">JustGetIt</a>
    </nav>
    <div class="container text-center">
        <h1>Order Details2 Table</h1>
    </div>
    <table class="table table-hover table-striped table-bordered" style="width: 97%; margin-left: 20px">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order No.</th>
            <th scope="col">Style No.</th>
            <th scope="col">Order Quantity</th>
            <th scope="col">Style SMV</th>
            <th scope="col">Capacity Required (mins.)</th>
            <th scope="col">Fabric in House</th>
            <th scope="col">Threads</th>
            <th scope="col">Sewing Trims</th>
            <th scope="col">Finishing Trims</th>
            <th scope="col">Packing Trims</th>
            <th scope="col">Order Delievery Date</th>     
          </tr>
        </thead>
   
        {% for a in rc %}
        <tbody>
          <tr>
            {% for a in allorder %}
            <td>{{a.orderno}}</td>
            <td>{{a.styleno}}</td>
            <td>{{a.orderqty}}</td>
            {% endfor %}
            {% for a in allcpr %}
            <td>{{a.smv}}</td>
            <td>{{a.crm}}</td>
            {% endfor %}
            {% for a in allmat %}
            <td>{{a.fin}}</td>
            <td>{{a.threads}}</td>
            <td>{{a.sewtrim}}</td>
            <td>{{a.packtrim}}</td>
            <td>{{a.fintrim}}</td>
            {% endfor %}
            {% for a in allorder %}
            <td>{{a.ocd}}</td>
            {% endfor %}
          </tr>
        </tbody>
        {% endfor %}
      </table>
      <form action="exptable" method="post" style="margin-left:20px; width: 97%">
        {% csrf_token %}
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Order No.</label>
            <div class="col-sm-10">
                {% for a in allorder %}
              <input type="text" name="orderno" id="orderno" value="{{a.orderno}}" style="background: #D3D3D3; " readonly>
                {% endfor %}
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Loaded To Line No.</label>
            <div class="col-sm-10">
                <select name="ltlc1" id="ltlc1">
                    <option id="a2">----</option>
                    
                    {% for a in allavc %}
                    <option value="{{a.lineno}}" id="a1">{{a.lineno}}</option>
                    {% endfor %}
                  </select>
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Suggested Line No.</label>
            <div class="col-sm-10">
              <input type="text" name="sgl" id="sgl" style="background: #D3D3D3; " readonly>
            </div>
        </div>
    </form>

    <div class="container text-center">
        <input type="Submit" class="btn btn-primary">
        <input type="reset" class="btn btn-primary">
    </div>
    
</body>
</html>